html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, img, dl, dt, dd, ol, ul, li, form,
label, table, caption, article, tbody, tfoot, thead,
tr, th, td, figure, figcaption, footer, 
header, menu, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  text-align: center;
  /*border: 1px dotted red;**/
}

ul {
  text-align: left;
}

h1 {
  font-family: "Fjalla One";
  font-size: 500%;
}

h2 {
  font-size: 200%;
  font-family: "ralewaylight";
}

input, textarea {
  margin: 0;
}

footer, header, menu, nav, section {
  display: block;
}

body {
  background-color: $black;
  font-family: "ralewaylight";
}

a {
  text-decoration: none;
}

section > h2 {
  font-family: "Fjalla One";
}

section > p {
  font-family: "ralewaythin";
}

@font-face {
    font-family: "Fjalla One";
    src: url(../fonts/FjallaOneRegular.ttf), format(truetype);
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/Raleway300-webfont.eot');
    src: url('../fonts/Raleway300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway300-webfont.woff2') format('woff2'),
         url('../fonts/Raleway300-webfont.woff') format('woff'),
         url('../fonts/Raleway300-webfont.ttf') format('truetype'),
         url('../fonts/Raleway300-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/Raleway100-webfont.eot');
    src: url('../fonts/Raleway100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway100-webfont.woff2') format('woff2'),
         url('../fonts/Raleway100-webfont.woff') format('woff'),
         url('../fonts/Raleway100-webfont.ttf') format('truetype'),
         url('../fonts/Raleway100-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar { 
  background-color: rgba(5, 5, 5, 0.4);
  bottom: 0px;
  width: 100%;
  z-index: 1;
  position: absolute;
  padding-top: 5px;
}

.fixed-top {
  position: fixed;
  top: 0px;
  bottom: auto;
}

.navbar > span {
  display:inline-block;
  width:15%;
}

.navbar > span > div {
  display:table;
  margin:0 auto;
}

.navbar > span > div > a {
  font-size: 125%;
  color: white;
  padding: 14px 18px 14px 18px;  
  display: block;
  transition: border-color 0.5s ease;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}

.navbar > span > div > a:hover {
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.top_section {
  z-index: -2;
  height: 100vh;
  background-image: url(../Camp.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.top_section-text {
  display:block;
  z-index: 0;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.6;
  transform: translate(-50%, -50%);
}

.top_section-text > h1, .top_section-text > h2 {
  text-align: left;
}

.top_section-icons > ul {
  overflow: auto;
}
 
.top_section-icons > ul > li {
  list-style-type: none;
  float: left;
  margin-top: 3%;
}
 
.top_section-icons > ul > li > a > i {
  margin-right: 10px;
  color: black;
  padding-right: 20px;
  padding-left: 2px;
}

.top_section-text > button {
  font-family: "Fjalla One";
  position: relative;
  float: left;
  height: 45px;
  width: 200px;
  margin-top: 3%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  border: 2px white solid;
  overflow:hidden;
  background: none;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: white;
}

.fill:before {
  content: "";
  position: absolute;
  background: #922826;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

.about_section {
  background-color: #F2F2F2;
  color: #922826;
  height: 100vh;
}

.about_section-column-left {
  display: inline;
  float: left;
  width: 50%;
  height: 100%;
}

.about_section-column-right {
  display: inline;
  float: right;
  width: 50%;
  height: 100%;
  margin: auto;
  position: relative;
}

.about_section-column-right > div { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about_section-column-right > div > h2 {
  font-size: 250%; 
  padding: 15%;
  padding-bottom: 0;
  font-family: "Fjalla One";
}

.about_section-column-right > div > p {
  padding: 15%;
  padding-top: 5%;
  font-size: 125%; 
}

.skills_section {
  background-color: #E87E6C;
  height: 70vh;
  color: white;
  display: table;
}

.skills_section-item {
  font-family: "ralewaylight";
  font-size: 115%; 
  background-color: white;
  color: black;
  display: inline-block;
  padding: 1%;
  border-radius: 78px;
  float: left;
  margin: .25%;
  margin-top: .5%;
}

.skills_group-tech, .skills_group-art {
  width: 100%;
  float: right;
  display: block;
  position: relative;
  padding-left: 10%;
  margin: 2%;
}

.skills_group-tech > h2, .skills_group-art > h2 {
  width: 20%;
  float: left;
  font-size: 250%;
  padding-left: 10%;
  font-family: "Fjalla One";
}

.skills_group-tech > div, .skills_group-art > div {
  width: 50%;
  float: right;
  border-left: 2px solid white;
  padding-left: 10%;
  height: 100%;
}

.skills_section-content {
  display: table-cell;
  vertical-align: middle;
}

.timeline_section {
  background-color: #F2F2F2;
  height: 100vh;
  width: 100%;
  position: relative;
}

.timeline_column-left { 
  float: left; 
  width: 30%; 
  height: 100%;
  padding-left: 10%;
}

.timeline_column-right { 
  float: right; 
  width: 30%; 
  height: 100%;
  padding-right: 10%;
}

.timeline_column-center { 
  display: inline-block; 
  width: 10%; 
  height: 100%;
}

.timeline-graphic {
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.timeline-circle {
  width: 40px;
  height: 40px;
  background-color: #D8D8D8;
  border: 4px solid #979797;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.timeline-line {
  width: 5px;
  height: 95px;
  background-color: #979797;
  margin-left: auto;
  margin-right: auto;
}

.timeline-info-bubble {
  height: auto;
  width: 30%;
  background: white;
  border-radius: 10px;
  position: absolute;
}

.bubble-left {
  margin-left: auto;
  margin-right: auto; 
  display: block;
}

.top-left-bubble {
  margin-top: 100px;
}

.bottom-left-bubble {
  margin-top: 380px;
}

.timeline-info-bubble > h3 {
  text-align: left;
  font-family: "Fjalla One";
  font-size: 150%;
  padding: 10px;
  color: #922826;
}

.timeline-info-bubble > p {
  text-align: left;
  font-family: "ralewaythin";
  padding: 10px;
  color: #922826;
}

.top-right-bubble {
  margin-top: 240px;
}

.bottom-right-bubble {
  margin-top: 620px;
}

.bubble-right {
  margin-left: auto;
  margin-right: auto; 
  display: block;
}

.timeline-info-bubble:before {
  content:"";
  position: absolute;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.bubble-left:before {
  left: 100%;
  border-left: 26px solid white;
}

.bubble-right:before {
  right: 100%;
  border-right: 26px solid white;
}

.projects_section {
  background-color: #70AAA8;
  height: 100vh;
}

.portfolio_section {
  background-color: #F2F2F2;
  height: 100vh;
}

.contact_section {
  background-color: #922826;
  height: 100vh;
}

.contact_section-column-left {
  display: inline;
  float: left;
  width: 50%;
  height: 100%;
}

.contact_section-column-right {
  display: inline;
  float: right;
  width: 50%;
  height: 100%;
}

.contact_section-icons > li {
  list-style-type: none;
  display: block;
  margin: 0; 
  padding: 0;
}

.contact_section-icons {
  margin: 0; 
  padding: 0;
  text-align: left !important;
  float: left;
}

.contact_section-icons > li > a {
  color: white;
  text-decoration: none;
}
 
.contact_section-icons > li > a > i {
  color: white;
  display: inline-block;
}

.contact_section-icons > li > a > h3 {
  display: inline-block;
}

.contact_form > fieldset {
  border: 0;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

fieldset > label {
  text-align: left;
}

fieldset > input {
  width: 100%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

fieldset > textarea {
  resize: none;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.name_container {
  width: 100%;
  margin-bottom: 15%;
}

.first_name_container {
  display: inline;
  float: left;
  text-align: left;
  width: 45%;
}

.last_name_container {
  display: inline;
  float: right;
  text-align: left;
  margin-left: 5%;
  width: 45%;
}

label#first_name, label#last_name, input#first_name, input#last_name {
  display: block;
  width: 40%;
}

label#first_name, label#last_name {
  text-align: left;
}

input#first_name, input#last_name {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.name_container, #email, #subject, #message, #submit{
  display: block;
  font-family: "Fjalla One";
  color: white;
}

fieldset > .submit-button {
  font-family: "Fjalla One";
  float: left;
  height: 45px;
  width: 200px;
  margin-top: 3%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  border: 2px white solid;
  overflow:hidden;
  background: none;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}



